@import "./variables";
@import "./fonts";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// GLOBAL

body {
    font-family: sans-serif;
}

// FORMS

.field-wrapper {
    display: flex;
    flex-direction: column;

    label {
        font-size: 14px;
        color: gray;
        margin-bottom: 5px;
    }
}

// INPUTS

.input {
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 10px;

    &_default {
        border: 1px solid gray;
    }

    &__error-text {
      font-size: 13px;
      color: darkred;
      margin-top: 5px;
    }
}

// BUTTONS

.btn {
    height: 40px;
    width: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}
